{% extends 'base.html.twig' %}

{% block title %}Edit Restaurant{% endblock %}

{% block body %}
    <h1>Edit Restaurant</h1>

    {{ include('food_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('food_list_index') }}">back to list</a>

    {{ include('food_list/_delete_form.html.twig') }}
{% endblock %}
