{% extends 'base.html.twig' %}

{% block title %}New food_list{% endblock %}

{% block body %}
    <h1>Create new Restaurant</h1>

    {{ include('food_list/_form.html.twig') }}

    <a href="{{ path('food_list_index') }}">back to list</a>
{% endblock %}
