{% extends 'base.html.twig' %}

{% block title %}food_list{% endblock %}

{% block body %}
    <h1>Food_list</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Food.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('food_list_index') }}">back to list</a>

    <a href="{{ path('food_list_edit', {'id': Food.id}) }}">edit</a>

    {{ include('restaurant/_delete_form.html.twig') }}
{% endblock %}
