body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #5eb5e0 !important;
    background-image: url('../../design/img/bg.png') !important;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-family: Heebo
}
.top-nav{
    display: block;
    height: 100px;
    padding: 10px;
    background-color: #fc0303;
}
.nav-btn{
    display: inline-block;
    float: right;
    color: #DDDDDD;
    padding: 0 30px;
    font-size: 30px;
    line-height: 100px;
    text-decoration: none;
}
.nav-btn:hover{
    background-color: #ff7b78;
    transition: background-color 0.5s ease;
}
#pincer_logo{
    max-width: 70%;
    max-height: 70%;
}

.container{
    margin: auto;
    max-width: 500px;
    min-width: 480px;
    background-color: #ffffff;
    max-height: 500px;
    border-radius: 0 0 45px 45px;
    padding: 70px 30px 70px;
}

.btn-primary{
    text-decoration: none !important;
    margin:0 auto;
    background-color: #fc0303;
    display: inline-block;
    height: auto;
    font-size: 30px;
    font-family: Heebo;
    color: #FFFFFF;
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
    text-align: center;


}
.btn-primary:hover{
    background-color: #ff7b78;
    cursor: pointer;
}

.title-text{
    text-align: center;
}

.email-row{
    margin: auto;
    width: 60%;
}
.pass-row{
    margin: auto;
    width: 60%;
}
.email-input{
    display: inline-flex;
    float: right;
}
.pass-input{
    display: inline-flex;
    float: right;
}
#registration_form_email{
    display: inline-flex;
    float: right;
}
#registration_form_plainPassword{
    display: inline-flex;
    float: right;
}
#registration_form_roles{
    display: inline-flex;
    float: right;
}
.roles-row{
    position: relative;
    top: -50px;
}
#reg-btn{
    position: relative;
    top: 80px
}

.container-2{
    margin: auto;
    max-width: 1660px;
    min-width: 500px;
    background-color: #ffffff;
    border-radius: 0 0 45px 45px;
    padding: 70px 30px 70px;
}
.inner-btn{
    margin:0 auto;
    background-color: #fc0303;
    display: block;
    height: auto;
    font-size: 30px;
    font-family: Heebo;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    padding: 3px 30px;
}
.inner-btn:hover{
    background-color: #ff7b78;
    transition: background-color 0.3s ease;
}

#kosar-container{
    margin-top: -40px;
}
#restaurant{
    margin: auto !important;
    width: 60% !important;
}
#restaurant_name, #restaurant_address, #restaurant_password, #restaurant_waitingTime{
    display: inline-flex;
    float: right;
}

 .btn{
     margin:5px auto;
     background-color: #fc0303;
     display: block;
     height: auto;
     font-size: 30px;
     font-family: Heebo;
     color: #FFFFFF;
     padding: 6px 10px;
     border: none;
     border-radius: 20px;
     text-align: center;
 }
.btn:hover{
    background-color: #ff7b78;
    cursor: pointer;
}

table {
    width:100%;

}

td{
    border: 1px solid #000000;
}

td, th{
    text-align: center;
    padding: 8px;

}

td a{
    text-decoration: none;
    color: #fc0303;
}

td a:hover{
    background: none;
}
.inline_prim{
    display: inline-block;
    margin: 1px;
    padding: 5px !important;
    border-radius: 10px;
    font-size: 18px;
}

#notifs{
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    max-width: 100%;
    background-color: #FFFFFF;
    margin: auto 10% 10% 10px;
    padding: 5px 10px !important;
    border: 2px solid #fc0303;
}

#notifs.hide {
    display: block;
    opacity: 1;
    transition: opacity 0.5s;
}

#delete_notifs{
    font-size: large;
    cursor: pointer;
    color: #fc0303;
}
#delete_notifs:hover{
    color: #B0413E;
}

.fa-bell.hasNotif{
    display: inline-block;
    padding: 10px 10px 10px 20px;
    font-size: 30px;
    line-height: 30px;
    width: 40px;
    height: 40px;
    color: #fc0303;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

.fa-bell:hover{
    cursor: pointer;
}
.fa-bell.noNotif{
    display: inline-block;
    color: #000000 !important;
    padding: 10px 10px 10px 20px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    display:block !important;
    width: 40px !important;
    height: 40px !important;
}

@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }

    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }

    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }

    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}

#unreads{
    font-size: 30px;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.notif_msg{
    padding: 10px 2px;
    border-top: 1px solid #000000;
}


}