{% extends 'base.html.twig' %}

{% block title %}Edit FoodImages{% endblock %}

{% block body %}
<div class="container-2">
    <h1>Edit FoodImages</h1>

    {{ include('food_images/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('food_images_index') }}">back to list</a>

    {{ include('food_images/_delete_form.html.twig') }}
</div>
{% endblock %}
