{% extends 'base.html.twig' %}

{% block title %}New RestaurantCategory{% endblock %}

{% block body %}
    <h1>Create new RestaurantCategory</h1>

    {{ include('restaurant_category/_form.html.twig') }}

    <a href="{{ path('restaurant_category_index') }}">back to list</a>
{% endblock %}
