<form method="post" action="{{ path('restaurant_opening_time_delete', {'id': restaurant_opening_time.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant_opening_time.id) }}">
    <button class="btn">Delete</button>
</form>
