{% extends 'base.html.twig' %}

{% block title %}Edit FoodAllergens{% endblock %}

{% block body %}
<div class="container-2">
    <h1>Edit FoodAllergens</h1>

    {{ include('food_allergens/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('food_allergens_index') }}">back to list</a>

    {{ include('food_allergens/_delete_form.html.twig') }}
</div>
{% endblock %}
