{% extends 'base.html.twig' %}

{% block title %}Courier dashboard{% endblock %}

{% block body %}
    <h1>Courier dashboard</h1>
    <a href="{{ path('dashboard_clear',{'type': 'courier'})}}"> I don't wanna work.</a>


{% endblock %}
