{% extends 'base.html.twig' %}

{% block title %}Courier dashboard{% endblock %}

{% block body %}
    <h1>Courier dashboard</h1>
    <a href="{{ path('dashboard_clear',{'type': 'courier'})}}"> I don't wanna work.</a>
    <br>
    {% if courierData %}
        <a href="{{ path('courier_data_edit', {'id': app.user.id}) }}">edit</a>
    {% else %}
        <a href="{{ path('courier_data_new') }}">Új Futár</a>
    {% endif %}
{% endblock %}
