{% extends 'base.html.twig' %}

{% block title %}Edit CourierData{% endblock %}

{% block body %}
    <div class="container-2">
    <h1>Edit CourierData</h1>

    {{ include('courier_data/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
