

{% extends 'base.html.twig' %}

{% block title %}New CourierData{% endblock %}

{% block body %}
    <div class="container-2" style="margin-top: 0">
    <h1>Create new CourierData</h1>

    {{ include('courier_data/_form.html.twig') }}
</div>
{% endblock %}

